PokemonWebApp/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52516/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PokemonWCF" />
  <xs:element name="getAllPokemons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllPokemonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokemonWCF" minOccurs="0" name="getAllPokemonsResult" nillable="true" type="q1:ArrayOfPokemon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokemonWCF" minOccurs="0" name="getAllStadesResult" nillable="true" type="q2:ArrayOfStade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PokemonWCF" minOccurs="0" name="getAllMatchsResult" nillable="true" type="q3:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>