PokemonWebApp/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PokemonWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PokemonWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52516/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PokemonTournamentEntities" />
  <xs:complexType name="ArrayOfPokemon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pokemon" nillable="true" type="tns:Pokemon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPokemon" nillable="true" type="tns:ArrayOfPokemon" />
  <xs:complexType name="Pokemon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Defense" type="xs:int" />
      <xs:element minOccurs="0" name="Force" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PokemonTournamentEntities" minOccurs="0" name="Types" nillable="true" type="q1:ArrayOfTypeElement" />
      <xs:element minOccurs="0" name="Vie" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pokemon" nillable="true" type="tns:Pokemon" />
  <xs:complexType name="ArrayOfStade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stade" nillable="true" type="tns:Stade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStade" nillable="true" type="tns:ArrayOfStade" />
  <xs:complexType name="Stade">
    <xs:sequence>
      <xs:element minOccurs="0" name="NbPlaces" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PokemonTournamentEntities" minOccurs="0" name="Types" nillable="true" type="q2:ArrayOfTypeElement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stade" nillable="true" type="tns:Stade" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pokemon1" nillable="true" type="tns:Pokemon" />
      <xs:element minOccurs="0" name="Pokemon2" nillable="true" type="tns:Pokemon" />
      <xs:element minOccurs="0" name="StadePokemon" nillable="true" type="tns:Stade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
</xs:schema>